*p{
    font-family: Gilam;
}
.container{
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header_container{
    padding-top: 37px;
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #171717;
}
.footer_conteiner{
    background-color: #171717;
    width: 100%;
    max-width: 1920px;
    height: 240px;
    margin: 0 auto;
}
.logo{
    padding-left: 230px;
}
.phone{
    margin-right: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
}
.phone img{ 
    width: 16px;
    height: 16px;
}
.phone h3{
    font-size: 18px;
    font-weight: 400;
    color:  #E4B564;
}
.main_container{
    padding-top: 89px;
    max-width: 1920px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    background-color: #171717; 
    flex-direction: column;
}
.txt_1{
    padding-left: 230px;
    display: flex;
    flex-direction: column;
    color: #fff;
}
.txt_1 h2{
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 43px;
}
.txt_1 p{
    font-size: 20px;
    font-weight: 700;
    width: 1182px;
}
/* ____GRID_1____ */
.grid_1{
    padding-top: 41px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: 467px 219px 219px 467px;
    grid-template-rows: 468px 468px;
     grid-template-areas:
     "a1 a2 a2 a3"
     "a4 a4 a5 a5";
}
.item{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.item p{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    width: 380px;
    color: #FFF;
}
.item_1_1{
    grid-area: a1;
    background-color: #634F2C;
}
.item_1_2{
    grid-area: a2;
    background-color: #B4A385;
}
.item_1_3{
    grid-area: a3;
    background-color: #E4B564;
}
.item_1_4{
    grid-area: a4;
    background-color: #635A4A;
}
.item_1_5{
    grid-area: a5;
    background-color: #B08C4D;
}
/* ____GRID_2____ */
.txt_2{
    padding-top: 161px;
    padding-left: 230px;
    padding-bottom: 94px;
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
}
.item_2{
    display: flex;
    flex-direction: column;
}
.item_2 h3 , .item_2 p {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    padding-left: 52px;
}
.item_2 p{
    font-weight: 700;
}
.item_2 h3{
    padding-top: 44px;
}
.item_2_5 h3{
    color: #000;
}
.grid_2{
    padding-bottom: 192px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: 467px 467px 467px ;
    grid-template-rows: 255px 28px 96px 129px 277px;
     grid-template-areas: 
     "b1 b2 b3"
     "b1 b2 b6"
     "b4 b2 b6"
     "b4 b5 b6"
     "b4 b5 b7";
}
.item_2_1{
    grid-area: b1;
    background-color: #0E0E0E;
}
.item_2_2{
    grid-area: b2;
    background-color: #242424;
}
.item_2_3{
    grid-area: b3;
    background-color: #1F1F1F;
}
.item_2_4{
    grid-area: b4;
    background-color: #1F1F1F;
}
.item_2_5{
    grid-area: b5;
    background-color: #E4B564;
}
.item_2_6{
    grid-area: b6;
    background-color: #0E0E0E;
}
.item_2_7{
    grid-area: b7;
    background-color: #0A0909;
}
/* ____SECTION_3____ */
.section_3{
    background-color: #0E0E0E;
}
.section_3_footer{
    padding-top: 161px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 61px;
}
.section_3_footer h2{
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    margin-left: 230px;
}
.section_3_footer p{
    display: flex;
    color: #E4B564;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #E4B564;
    width: 180px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 230px;
}
.deck{
    width: 1460px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}
.card{  
    display: flex;
    height: 391px;
    min-width: 486px;
    justify-content: center;
    align-items: center;
}
.card_1{
    background-color: #634F2C;
}
.card_2{
    background-color: rgba(232, 210, 171, 0.76);
    flex-direction: column;
    gap: 10px;
}
.card_2 p{
    width: 326px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #FFF;
}
.card_3{
    background-color: #E4B564;
}
.card_4{
    background-color: #635A4A;
}
.card_5{
    background-color: #B08C4D;
}
.card_6{
    background-color: #634F2C;
}
.card_logo{
    width: 185px;
    height: 49px;
}

